
  <div class="container-fluid clearfix">

    <nav class="clearfix navbar navbar-expand-lg navbar-light bg-primary">
        <a class="navbar-brand text-white fw-bold text-center" href="#">{{navbarTitle | uppercase}}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </nav>
  </div>
